DATABASE_URL=postgresql+asyncpg://comdigital:comdigital@db:5432/comdigital_case
SECRET_KEY=super-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_MINUTES=3600
DEBUG=False